https://localhost {
    tls internal

    handle /api/* {
        reverse_proxy backend:3001
    }

    handle /socket.io/* {
        reverse_proxy backend:3001
    }

    handle {
        reverse_proxy frontend:3000
    }
}

http://10.18.195.241 {

    handle /api/* {
        reverse_proxy backend:3001
    }

    handle /socket.io/* {
        reverse_proxy backend:3001
    }

    handle {
        reverse_proxy frontend:3000
    }
}
